:root {
  font: 16px / 1 sans-serif;
  --nav-color: rgb(2, 0, 0);
  --main-color: #ebf0ea;
  --lighter-color: #f0f7ee;
  --darker-color: #363946;
  --brown:rgb(99, 79, 79);
  --white: rgba(255, 255, 255, 0.726);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.nav {
  position:relative;
  background-color: var(--nav-color);
  color: var(--lighter-color);
}

ul {
  list-style: none;
}

.main-menu-right {
  display: flex;
  justify-content: flex-end;
}

.overlay {
  display:flex;
  height:34em;
  width:79em;
}

.project-header {
  font-family: 'Milonga', cursive;
  text-align: center;
  padding: 1em 1em 0.2em 1em;
}

.project-header, .photos-container {
  background-color: #5C7E58;
}

#reddit-project {
  display:flex;
  padding:3.2em;
}

#spacex-project {
  display:flex;
  padding:5em;
}

.project {
  font-size:2em;
  padding-bottom:2em;
}

.img-style {
  display:flex;
  border: 0.2em rgb(80, 78, 78) dashed;
  height:415px;
  width:315px;
 }


 .before-collapse {
   border:0.1em black solid;
   background-color:white;
   color:black;
 }

.after-collapse {
  display:flex;
  flex-direction: column;
  background-color: black;
  color:yellow;
  font-size:0.8em;
  width:17%;
}

.photos-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 2em;
}

.skill-container {
  display:flex;
  background-color: #7B9169;
  padding:2em;
  padding-left:2em;
}

.language-container,
.framework-and-library-container, 
.concept-container,
.software-tool-container, 
.deployment-environment-container {
  position:relative;
  padding-left:2em;
}

.about-me {
  display: flex;
  list-style: none;
  background-color: var(--brown);
  padding: 2em;
  color: rgb(233, 223, 223);
}

.about-container {
  display:flex;
  flex-direction: column;
  padding-left:2em;
  line-height: 0.5em;
}

.download-resume {
  padding-top:1em;
}

.contact-header {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--darker-color);
}

.contact-form {
  padding: 1.5em;
  background-color: var(--main-color);
}

.message-btn {
margin-top:2em;
}

.page-footer {
  padding: 0.1em;
  height: 8em;
  background-color: var(--darker-color);
  color: var(--lighter-color);
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.footer-link-container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.linkedin,
.github,
.codewars {
  position: relative;
  padding: 0.2em;
  padding-right: 0.4em;
}

/* iPad Pro */
@media (max-width: 1024px) and (max-height:1366px) {
  .overlay {
    height:34em;
    width:64em;
  }
}

/* iPad */
@media (max-width: 768px) and (max-height:1024px) {

  .nav {
  display:flex;
  justify-content: flex-end;
  }

  .main-menu-right {
    width:20em;
  }

  .overlay {
    height:30em;
    width:48em;
  }

  .language-container, 
  .framework-and-library-container, 
  .concept-container, 
  .software-tool-container, 
  .deployment-environment-container {
    padding:0.2em;
  }

  .about-me {
    padding: 1em;
  }
  
  .about-container {
    line-height: 1em;
  }
}

/* iPhone X */
@media (max-width: 375px) {
  nav {
    width:48em;
  }

  .main-menu-right {
    position: relative;
  }

  .project-header, 
  .photo-container,
  .skill-container,
  .about-me,
  .contact-form,
  .page-footer {
    width:205%;
  }
}

  /* Galaxy S5 */
@media (max-width: 360px) {
  nav {
    width:22.5em;
  }

  .overlay {
    height:15em;
    width:22.5em;
  }

  .project-header, 
  .photo-container,
  .skill-container,
  .about-me,
  .contact-form,
  .page-footer {
    width:100%;
  }

  .skill-container {
    display:flex;
    flex-direction: column;
  }

  .language-container,
  .framework-and-library-container, 
  .concept-container,
  .software-tool-container, 
  .deployment-environment-container {
    padding:0.2em;
  }

  .profile-pic-container {
    display:none;
  }

  .about-container {
    display:flex;
    flex-wrap:wrap;
    line-height: 1em;
  }
}