:root {
  font: 16px / 1 sans-serif;
  --nav-color: #080506;
  --main-color: #ebf0ea;
  --lighter-color: #f0f7ee;
  --darker-color: #363946;
  --brown:rgb(99, 79, 79);
  --white: rgba(255, 255, 255, 0.726);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.nav {
  background-color: var(--nav-color);
  color: var(--lighter-color);
}

ul {
  list-style: none;
}

.main-menu-right {
  display: flex;
  justify-content: flex-end;
}

.project-header {
  font-family: 'Milonga', cursive;
  text-align: center;
  padding: 1em;
}

.project-header, .photo-container {
  background-color: #5C7E58;
}

.photo-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 2em;
}

.skill-container {
  display:flex;
  background-color: #7B9169;
  padding:2em;
  padding-left:2em;
}

.language-container,
.framework-and-library-container, 
.concept-container,
.software-tool-container, 
.deployment-environment-container {
  padding-left:2em;
}

.about-me {
  display: flex;
  list-style: none;
  background-color: var(--brown);
  padding: 2em;
  color: rgb(233, 223, 223);
}

.about-container {
  display:flex;
  flex-direction: column;
  padding-left:2em;
  line-height: 0.5em;
}

.img-style {
  border: 2px black solid;
}

.contact-header {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--darker-color);
}

.form {
  display: flex;
  padding: 2em;
  background-color: var(--main-color);
}

.page-footer {
  padding: 0.1em;
  height: 8em;
  background-color: var(--darker-color);
  color: var(--lighter-color);
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.footer-link-container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.linkedin,
.github,
.codewars {
  position: relative;
  padding: 0.2em;
  padding-right: 0.4em;
}
